<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= folder.name %></title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <h1><%= folder.name %></h1>
    <div>
      <% folder.files.forEach(file => { %>
      <div>
        <%= file.title %>
        <button>
          <a href="/folder/<%= folder.id %>/files/<%= file.id %>">Open</a>
        </button>
        <hr />
      </div>
      <% }) %>
    </div>
    <button>
      <a href="/folder/<%= folder.id %>/upload-file">Upload File</a>
    </button>
  </body>
</html>
