<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
  </head>
  <body>
    <%- include('partials/navbar') %> <% if (currentUser) { %>
    <h1>Hi, <%- currentUser.username %></h1>
    <div>
      <% folders.forEach(folder => { %>
      <div>
        <%= folder.name %>
        <button><a href="/folder/<%= folder.id %>">Open</a></button>
        <button>
          <a href="/update-folder?id=<%= folder.id %>&name=<%= folder.name %>"
            >Update</a
          >
        </button>
        <button>
          <a href="/delete-folder?id=<%= folder.id %>">Delete</a>
        </button>
        <hr />
      </div>
      <% }) %>
      <button><a href="/new-folder">New Folder</a></button>
    </div>
    <% } else { %>
    <h1>Hi Mom</h1>
    <% } %>
  </body>
</html>
